[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
django-hashid-field = "*"
psycopg2-binary = "*"
sentry-sdk = "*"
whitenoise = "*"

[dev-packages]
pytest = "*"
django-pytest = "*"

[requires]
python_version = "3.10"

[scripts]
test = "pytest"
